<body class="background">
  <br><br><br><br><br>
  <div class="container">
      <div class="row gx-5" style="color: white;">
          <div class="col-lg-12 col-md-12 col-sm-12 " style="margin-bottom: 20px;" >
              <div class="p-3" style="background-color: rgb(153, 112, 170);">
                  <h1 class="text-center">Política de privacidad</h1>
                  <p>En nuestro sitio web, respetamos y protegemos la privacidad de nuestros visitantes. En esta política
                      de
                      privacidad, explicamos cómo recopilamos, utilizamos y protegemos su información personal.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
              <div class="p-3 cards">
                  <h2 class="text-center">Contacto</h2>
                  <p>Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en ponerse en
                      contacto
                      con
                      nosotros por correo electrónico o por teléfono.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
              <div class="p-3 cards">
                  <h2 class="text-center">Divulgación de información</h2>
                  <p>No compartimos su información personal con terceros, excepto en los casos en que sea necesario para
                      proporcionarle nuestros servicios o cumplir con la ley.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
              <div class="p-3 cards">
                  <h2 class="text-center">Uso de la información</h2>
                  <p>Utilizamos la información que recopilamos para proporcionarle nuestros servicios y para mejorar su
                      experiencia en
                      nuestro sitio web. También podemos utilizar su información para comunicarnos con usted sobre
                      nuestros
                      productos
                      y servicios, así como para enviarle actualizaciones y promociones.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
              <div class="p-3 cards">
                  <h2 class="text-center">Información que recopilamos</h2>
                  <p >Recopilamos información personal que usted nos proporciona voluntariamente al llenar formularios en
                      nuestro sitio
                      web o al comunicarse con nosotros por correo electrónico o por teléfono. Esta información puede
                      incluir
                      su
                      nombre, dirección de correo electrónico, número de teléfono, dirección postal y otra información que
                      elija
                      proporcionar.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
              <div class="p-3 cards">
                  <h2 class="text-center">Cambios a nuestra política de privacidad</h2>
                  <p>Podemos actualizar esta política de privacidad de vez en cuando para reflejar cambios en nuestras
                      prácticas de
                      privacidad. Le recomendamos que revise esta página periódicamente para estar al tanto de cualquier
                      cambio.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
              <div class="p-3 cards">
                  <h2 class="text-center">Protección de la información</h2>
                  <p>Tomamos medidas razonables para proteger la información personal que recopilamos y almacenamos.
                      Utilizamos
                      medidas de seguridad físicas, electrónicas y administrativas para proteger la información contra el
                      acceso no
                      autorizado, la alteración y la destrucción.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
              <div class="p-3 cards">
                  <h2 class="text-center">Cookies</h2>
                  <p>Utilizamos cookies en nuestro sitio web para mejorar su experiencia de navegación y para recopilar
                      información
                      sobre cómo utiliza nuestro sitio. Puede desactivar las cookies en su navegador si lo desea, pero
                      esto
                      puede
                      afectar la funcionalidad de nuestro sitio web.</p>
              </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <h5 style="color: black;">Última actualización: {{date}}</h5>
          </div>
      </div>
  </div>
  </body>
