  <div class="p-1 m-0 fixed-top" id="mainNav">
  <nav class="navbar navbar-expand-lg" >
    <img class="align-items-center d-lg-block d-none" id="logoNavbar" src="../../../assets/img/logo.png">
    <div class="container-fluid">
      <a id="title" class="navbar-brand" [routerLink]="['principal']">FilmCorp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="navLinks" class="nav-link active" aria-current="page" [routerLink]="['principal']">Home</a>
          </li>


          <li class="nav-item">
            <a id="navLinks" class="nav-link" [routerLink]="['films']">Films</a>
          </li>
          <!-- <li class="nav-item">
            <a id="navLinks" class="nav-link" [routerLink]="['series']">Series</a>
          </li>
          <li class="nav-item">
            <a id="navLinks" class="nav-link active" href="#">Community</a>
          </li> -->
          <li class="nav-item">
            <a id="navLinks" class="nav-link active" [routerLink]="['aboutus']">Sobre Nosotros</a>
          </li>
          <form class="nav-item" (ngSubmit)="searchMovie()">
            <input type="text" class="form-control" id="search" [(ngModel)]="search" name="search" [ngModelOptions]="{standalone: true}"
              placeholder="Introduzca su busqueda">
          </form>
          <li>
            <div *ngIf="usernameLocalStorage == null" class="d-lg-none d-sm-block d-block">
                <button class="btn ml-auto" id="log" [routerLink]="['login']">Log In</button>
                <button class="btn ml-2" id="sign" mat-menu-item [routerLink]="['register']">Sign Up</button>
            </div>
            <div *ngIf="usernameLocalStorage != null && usernameLocalStorage != 'admin'" class="d-lg-none d-sm-block d-block">
                <button class="btn ml-auto" id="log" [routerLink]="['login']">Log In</button>
                <button class="btn ml-2" id="sign" mat-menu-item [routerLink]="['register']">Sign Up</button>
            </div>
            <div *ngIf="usernameLocalStorage == 'admin'" class="d-lg-none d-sm-block d-block">
              <button class="btn ml-auto" id="log" [routerLink]="['admin']">Admin</button>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="usernameLocalStorage == null"  class="d-flex d-lg-block d-sm-none d-none" >
          <button class="btn ml-auto" id="log" [routerLink]="['login']">Log In</button>
          <button class="btn ml-2" id="sign" mat-menu-item [routerLink]="['register']">Sign Up</button>
      </div>
      <div *ngIf="usernameLocalStorage != null && roleLocalStorage != 'ADMIN'" class="d-flex d-lg-block d-sm-none d-none">
          <button class="btn ml-auto" id="log" [routerLink]="['login']">{{usernameLocalStorage}}</button>
          <button class="btn ml-2" id="sign" mat-menu-item (click)="logOut()" [routerLink]="['register']">Logout</button>
      </div>
      <div *ngIf="roleLocalStorage == 'ADMIN'"  class="d-flex d-lg-block d-sm-none d-none">
        <button class="btn ml-auto" id="log" [routerLink]="['admin']">Admin</button>
        <button class="btn ml-2" id="sign" (click)="logOut()">Logout</button>
        
    </div>
    </div>
  </nav>
</div>