<body>
    <br><br><br><br>
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-12">
                <h1 style="margin-bottom: 40px;">Page Movies Admin</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-2" style="margin-bottom: 30px;">
                <a href="/admin/movies" class="btnprincipal">Movies</a>
            </div>
            <div class="col-6 col-md-2" style="margin-bottom: 30px;">
                <a href="/admin/actors" class="btnprincipal">Actors</a>
            </div>
            <div class="col-6 col-md-2" style="margin-bottom: 30px;">
                <a href="/admin/directors" class="btnprincipal">Director</a>
            </div>
            <div class="col-6 col-md-2" style="margin-bottom: 30px;">
                <a href="/admin/awards" class="btnprincipal">Awards</a>
            </div>
            <div class="col-6 col-md-2" style="margin-bottom: 30px;">
                <a href="/admin/users" class="btnprincipal">Users</a>
            </div>
            <div class="col-6 col-md-2" style="margin-bottom: 30px;">
                <a href="/admin" class="btnprincipal">Admin</a>
            </div>
        </div>
        <div class="row">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Poster</th>
                            <th>Nome Movie</th>
                            <th>Duration</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr *ngFor="let movie of movies">
                            <td>{{movie.id}}</td>
                            <td><img class="starterImg" src="{{movie.photo}}"></td>
                            <td>{{movie.movieName}}</td>
                            <td>{{movie.duration}} min</td>
                            <td>{{movie.releaseDate}}</td>
                            <td>
                                <button class="btn btn-primary" routerLink="/update/movie/{{movie.id}}">Editar</button>
                                <button class="btn btn-danger" (click)="deleteMovie(movie.id)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="container" style="border: 1px solid rgba(88, 60, 101, 1);">
            <br>
            <h2 style="text-align: center; margin-bottom: 30px; color: rgba(88, 60, 101, 1);">CREATE MOVIE</h2>
            <form [formGroup]="movieForm" (ngSubmit)="Create()">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="movieName">Movie name</label>
                        <input type="text" class="form-control" id="movieName" placeholder="Movie name"
                            formControlName="movieName" required>
                        <div *ngIf="movieForm.get('movieName')?.invalid" class="alert alert-danger mt-2">The MOVIE NAME
                            field is required</div>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="trailer">Trailer</label>
                        <input type="text" class="form-control" id="trailer" placeholder="Trailer"
                            formControlName="trailer" required>
                        <div *ngIf="movieForm.get('trailer')?.invalid" class="alert alert-danger mt-2">The TRAILER field
                            is required</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="releaseDate">Release date</label>
                        <input type="number" class="form-control" id="releaseDate" placeholder="Release date"
                            formControlName="releaseDate" required>
                        <div *ngIf="movieForm.get('releaseDate')?.invalid" class="alert alert-danger mt-2">The RELEASE
                            DATE field is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="duration">Duration</label>
                        <input type="number" class="form-control" id="duration" placeholder="Duration"
                            formControlName="duration" required>
                        <div *ngIf="movieForm.get('duration')?.invalid" class="alert alert-danger mt-2">The DURATION
                            field is required</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="income">Income</label>
                        <input type="number" class="form-control" id="income" placeholder="Income"
                            formControlName="income" required>
                        <div *ngIf="movieForm.get('income')?.invalid" class="alert alert-danger mt-2">The INCOME field
                            is required</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="score">Score</label>
                        <input type="number" class="form-control" id="score" placeholder="Score" formControlName="score"
                            required>
                        <div *ngIf="movieForm.get('score')?.invalid" class="alert alert-danger mt-2">The SCORE field is
                            required</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Banner">Banner</label>
                        <input type="text" class="form-control" id="banner" placeholder="Banner"
                            formControlName="banner" required>
                        <div *ngIf="movieForm.get('banner')?.invalid" class="alert alert-danger mt-2">The BANNER field
                            is
                            required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="plot">Plot</label>
                        <input type="text" class="form-control" id="plot" placeholder="Plot" formControlName="plot"
                            required>
                        <div *ngIf="movieForm.get('plot')?.invalid" class="alert alert-danger mt-2">The PLOT field is
                            required</div>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="photo">Poster</label>
                        <input type="text" class="form-control" id="photo" placeholder="photo" formControlName="photo"
                            required>
                        <div *ngIf="movieForm.get('photo')?.invalid" class="alert alert-danger mt-2">The poster field is
                            required</div>
                    </div>
                </div>

                <!-- Formulario para id_actors -->
                <div class="row justify-content-center">
                    <div class="form-group col-md-2">
                        <div formArrayName="id_actors">
                            <div *ngFor="let item of id_actors.controls; let i = index">
                                <div [formGroupName]="i">
                                    <h3>id_actors {{1+i}}</h3>
                                    <input type="number" formControlName="id">
                                    <button (click)="RemoveActor(i)">Remove Actor</button>
                                </div>
                            </div>
                        </div>
                        <button (click)="AddIdActors()">Add Actor</button>
                    </div>

                    <div class="form-group col-md-2">
                        <div formArrayName="id_genre">
                            <div *ngFor="let item of id_genre.controls; let i = index">
                                <div [formGroupName]="i">
                                    <h3>id_genre {{1+i}}</h3>
                                    <input type="number" formControlName="id">
                                    <button (click)="RemoveGenre(i)">Remove Genre</button>
                                </div>
                            </div>
                        </div>
                        <button (click)="AddIdGenre()">Add Genre</button>
                    </div>
                    

                    <div class="form-group col-md-2">
                        <div formArrayName="id_director">
                            <div *ngFor="let item of id_director.controls; let i = index">
                                <div [formGroupName]="i">
                                    <h3>id_director {{1+i}}</h3>
                                    <input type="number" formControlName="id">
                                    <button (click)="RemoveDirector(i)">Remove Director</button>
                                </div>
                            </div>
                        </div>
                        <button (click)="AddIdDirector()">Add Director</button>
                    </div>
                    

                    <div class="form-group col-md-3">
                        <div formArrayName="id_screenwritter">
                            <div *ngFor="let item of id_screenwritter.controls; let i = index">
                                <div [formGroupName]="i">
                                    <h3>id_screenwritter {{1+i}}</h3>
                                    <input type="number" formControlName="id">
                                    <button (click)="RemoveScreenwritter(i)">Remove Screenwriter</button>
                                </div>
                            </div>
                        </div>
                        <button (click)="AddIdScreenwritter()">Add Screenwriter</button>
                    </div>
                    
                </div>


                <!-- <div class="form-group col-md-2">
                    <div formArrayName="id_actors">
                        <div *ngFor="let idActorControl of idActorsArray.controls; let i = index">
                            <input type="text" [formControlName]="i">
                            <button type="button" (click)="removeIdActor(i)">Remove</button>
                        </div>
                        <button type="button" (click)="addIdActor()">Add Id Actor</button>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div formArrayName="id_genre">
                        <div *ngFor="let idGenreControl of idGenreArray.controls; let i = index">
                            <input type="text" [formControlName]="i">
                            <button type="button" (click)="removeIdGenre(i)">Remove</button>
                        </div>
                        <button type="button" (click)="addIdGenre()">Add Id Genre</button>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div formArrayName="id_director">
                        <div *ngFor="let idDirectorControl of idDirectorArray.controls; let i = index">
                            <input type="text" [formControlName]="i">
                            <button type="button" (click)="removeIdDirector(i)">Remove</button>
                        </div>
                        <button type="button" (click)="addIdDirector()">Add Id Director</button>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <div formArrayName="id_screenwritter">
                        <div *ngFor="let idScreenwriterControl of idScreenwriterArray.controls; let i = index">
                            <input type="text" [formControlName]="i">
                            <button type="button" (click)="removeIdScreenwriter(i)">Remove</button>
                        </div>
                        <button [disabled]="movieForm.invalid" type="button" (click)="addIdScreenwriter()">Add Id Screenwriter</button>
                    </div>
                </div>
            </div> -->
                <div style="text-align: center;">
                    <button type="submit" class="btnprincipal mt-3 ">CREATE</button>
                </div>
            </form>
        </div>
        <br>
    </div>
</body>