<body>
    <div class="row wallpaperView">
        <div class="d-lg-block col-lg-5 d-sm-none col-sm-2 d-none imageView">
            <h1>CREED III</h1><br>
            <img class="imgSize" src="../../../assets/img/creed.jpg">
        </div>
        <div class="d-lg-block col-lg-7 d-sm-none col-sm-2 d-none txtInf">
            <div class="text-center" id="trailer">
                <iframe class="trailerSize" width="750" height="415" src="https://www.youtube.com/embed/jdEEZeRiyeQ"
                    frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div><br>
        </div>
        <div class="d-lg-block col-lg-4 d-sm-none col-sm-2 d-none">3</div>
    </div>





    <div class="row wallpaperView">
        <div class="d-lg-none d-sm-block col-sm-6 d-none imageView">
            <h1>CREED III</h1><br>
            <img class="imgSize" src="../../../assets/img/creed.jpg">
        </div>
        <div class="d-lg-none d-sm-block col-sm-6 d-none txtInf">
            <div class="featured-text text-center">
                <h2>Genero</h2>
                <p class="txt">Drama, Deportes</p>
            </div>
            <hr>
            <div class="featured-text text-center">
                <h2>Director</h2>
                <p class="txt">Michael B. Jordan</p>
            </div>
            <hr>
            <div class="featured-text text-center">
                <h2>Guíon</h2>
                <p class="txt">Keenan Coogler, Zach Baylin, Ryan Coogler</p>
            </div>
            <hr>
            <div class="featured-text text-center">
                <h2>Reparto</h2>
                <p class="txt">Michael B. Jordan, Jonathan Majors</p>
            </div>

        </div>

        <h2 id="trailerTitle">TRAILER</h2>

        <div class="text-center">
            <div class="d-lg-none d-sm-block col-sm-12 d-none imgView" id="trailer">
                <iframe class="trailerSize" width="500" height="315" src="https://www.youtube.com/embed/jdEEZeRiyeQ"
                    frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div><br>
        </div>
        </div>
        <div class="col-sm-12 d-none imageView">
            <div class="txt text-center">
                <hr>
                <h2>Synopsis</h2>
                <p class="txt">Tras dominar el mundo del boxeo, Adonis ha prosperado en su carrera y en su vida
                    familiar.
                    Cuando un amigo de la infancia y antiguo prodigio del boxeo resurge, el enfrentamiento
                    entre ellos será más que una pelea.</p>
            </div>
        </div>






    <div class="row wallpaperView">
        <div class="d-lg-none d-sm-none d-block col-12 imgView">
            <h1>CREED III</h1><br>
            <img class="imgSize" src="../../../assets/img/creed.jpg">
        </div>
        <div class="d-lg-none d-sm-none d-block col-12 txtInf">
            <div class="featured-text text-center">
                <h2>Genero</h2>
                <p id="txt">Drama, Deportes</p>
            </div>
            <hr>
            <div class="featured-text text-center">
                <h2>Director</h2>
                <p id="txt">Michael B. Jordan</p>
            </div>
            <hr>
            <div class="featured-text text-center">
                <h2>Guíon</h2>
                <p id="txt">Keenan Coogler,
                    Zach Baylin ,Ryan Coogler</p>
            </div>
            <hr>
            <div class="featured-text text-center">
                <h2>Reparto</h2>
                <p id="txt"> Michael B.Jordan,
                    Jonathan Majors</p>
            </div>
        </div>
        <div class="d-lg-none d-sm-none d-block col-12 txtMid">
            <div class="txt text-center">
                <hr>
                <h2>Synopsis</h2>
                <p id="txt">Tras dominar el mundo del boxeo, Adonis ha prosperado en su carrera y en su vida
                    familiar.
                    Cuando un amigo de la infancia y antiguo prodigio del boxeo resurge, el enfrentamiento
                    entre ellos será más que una pelea.</p>
            </div>
        </div>

        <div class="d-lg-none d-sm-none d-block col-12 imgView" id="trailer">
            <h2 id="trailerTitle">TRAILER</h2>
            <iframe class="trailerSize" width="420" height="315" src="https://www.youtube.com/embed/jdEEZeRiyeQ"
                frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div><br>
    </div>

</body>