<div class="container-fluid background">
    <div class="row text">
        <div class=" col-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="p-3" style="background-color: rgb(153, 112, 170); border: 1px solid black; margin-top: 30px;">
                <h3>¿Qué es nuestro sitio web?</h3>
                <hr>
                <p>
                    Nuestro sitio web es una plataforma en línea para buscar y descubrir películas, programas de
                    televisión
                    y
                    series. Ofrecemos una base de datos completa y detallada que contiene información sobre el elenco,
                    la
                    trama,
                    la duración, el género, la calificación y las críticas de cada título.
                </p>
            </div>
            <div class="p-3" style="background-color: rgb(153, 112, 170); border: 1px solid black; margin-top: 30px;">
                <h3>¿Cómo puedo buscar una película o serie?</h3>
                <hr>
                <p>
                    Puede buscar una película o serie en nuestro sitio web utilizando la barra de búsqueda ubicada en la
                    parte superior de la página. También puede navegar por las diferentes categorías de género o usar
                    las
                    funciones de filtro para refinar su búsqueda.
                </p>
            </div>
            <div class="p-3" style="background-color: rgb(153, 112, 170); border: 1px solid black; margin-top: 30px;">
                <h3> ¿Cómo puedo crear una lista de películas y programas de televisión para ver más tarde?</h3>
                <hr>
                <p>
                    Puede crear una lista personalizada de películas y programas de televisión que desea ver más tarde
                    en
                    nuestro sitio web. Para hacerlo, simplemente haga clic en el botón "Agregar a la lista" que se
                    encuentra
                    en la página de información de cada título.
                </p>
            </div>
            <div class="p-3" style="background-color: rgb(153, 112, 170); border: 1px solid black; margin-top: 30px;">
                <h3>¿Cómo puedo dejar una crítica o calificación para una película o serie?</h3>
                <hr>
                <p>
                    Puede dejar una crítica o calificación para cualquier película o serie en nuestro sitio web. Para
                    hacerlo, simplemente haga clic en el botón "Escribir una crítica" que se encuentra en la página de
                    información de cada título.
                </p>
            </div>
            <div class="p-3" style="background-color: rgb(153, 112, 170); border: 1px solid black; margin-top: 30px;">
                <h3>¿Cómo puedo informar un problema técnico o un error en el sitio web?</h3>
                <hr>
                <p>
                    Si encuentra un problema técnico o un error en nuestro sitio web, comuníquese con nuestro equipo de
                    soporte y brinde detalles sobre el problema que está experimentando. Haremos todo lo posible para
                    resolver el problema lo antes posible.
                </p>
            </div>
            <div class="p-3" style="background-color: rgb(153, 112, 170); border: 1px solid black; margin-top: 30px; margin-bottom: 30px;">
                <h3>¿Cómo puedo contactar con vosotros?</h3>
                <hr>
                <p>
                    A parte de por nuestras redes sociales podeis enviar un correo a: <b>{{email}}</b>
                </p>
            </div>
        </div>
    </div>
</div>