<body>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 30px;">
                <h1>Admin Page</h1>
                <h2 style="text-align: center; margin-top: 40px;">What do you want to modify?</h2>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 30px;">
            <div class="col-6 col-md-2 ">
                <a href="/admin/movies" class="btn">Movies</a>
            </div>
            <div class="col-6 col-md-2">
                <a href="/admin/actors" class="btn ">Actors</a>
            </div>
            <div class="col-6 col-md-2">
                <a href="/admin/directors" class="btn">Directors</a>
            </div>
            <div class="col-6 col-md-2">
                <a href="/admin/awards" class="btn">Awards</a>
            </div>
            <div class="col-12 col-md-2">
                <a href="/admin/users" class="btn">Users</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="margin-bottom: 30px; background-color: rgb(153, 112, 170); margin-top: 40px;">
                <h2 style="text-align: center; margin-top: 20px;">Attention! Restricted access for non-administrative users.</h2>
                <p style="font-size: 20px; padding: 20px;">
                    Unfortunately, this section is reserved only for authorized administrators. If you have reached this page by mistake or do not have the necessary privileges, please disconnect and return to the corresponding section for your user profile.
                    <br><br>
                    If you are an administrator and believe you have arrived here by mistake, please verify your credentials and try again. If the problem persists, please contact our technical support team for further assistance.
                    <br><br>
                    We appreciate your understanding and cooperation. We will continue working to provide you with the best possible experience on our site.
                    <br><br></p><p style="text-align: center; font-size: 30px;">
                    Thank you!
                </p>
            </div>
        </div>
    </div>
</body>