<body>
    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 30px;">
                <h1>Pagina Admin</h1>
                <h2 style="text-align: center; margin-top: 40px;">¿Que desas modificar?</h2>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 30px;">
            <div class="col-6 col-md-2 ">
                <a href="/admin/movies" class="btn">Movies</a>
            </div>
            <div class="col-6 col-md-2">
                <a href="/admin/actors" class="btn ">Actors</a>
            </div>
            <div class="col-6 col-md-2">
                <a href="/admin/directors" class="btn">Director</a>
            </div>
            <div class="col-6 col-md-2">
                <a href="/admin/awards" class="btn">Awards</a>
            </div>
            <div class="col-12 col-md-2">
                <a href="/admin/users" class="btn">Users</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="margin-bottom: 30px; background-color: rgb(153, 112, 170); margin-top: 40px;">
                <h2 style="text-align: center; margin-top: 20px;">¡Atención! Acceso restringido para usuarios no
                    administrativos.</h2>
                <p style="font-size: 20px; padding: 20px;">
                    Lamentablemente, esta sección está reservada únicamente para administradores autorizados. Si has
                    llegado a esta página por error o no tienes los privilegios necesarios, te pedimos que te
                    desconectes y vuelvas a la sección correspondiente a tu perfil de usuario.
                    <br><br>
                    Si eres un administrador y crees que has llegado aquí por error, por favor, verifica tus
                    credenciales e intenta nuevamente. Si el problema persiste, ponte en contacto con nuestro equipo de
                    soporte técnico para recibir asistencia adicional.
                    <br><br>
                    Agradecemos tu comprensión y colaboración. Continuaremos trabajando para ofrecerte la mejor
                    experiencia posible en nuestro sitio.
                    <br><br></p><p style="text-align: center; font-size: 30px;">
                    ¡Gracias!
                </p>
            </div>
        </div>
    </div>
</body>