@media (max-width: 2000px) {
  h1 {
    background-color: rgb(229, 229, 229);
  }

  .bg {
    background: url(../../../assets/img/wallpaper_def.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bgSecond {
    background-color: #583c65;
  }

  .btnlog:hover {
    background-color: #eec24f;
    color: black;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    background-color: rgb(229, 229, 229);
  }
.bg{
  margin-top: 2em;
  background-color: none;
  background: none;
  border-radius: none;
}


  .bgSecond {
    background-color: #583c65;
    width: auto;
  }

  .btnlog:hover {
    background-color: #eec24f;
    color: black;
  }
}

@media (max-width: 576px) {
  h1 {
    background-color: rgb(229, 229, 229);
  }

  .bg {
    background: url(../../../assets/img/wallpaper_def.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bgSecond {
    background-color: #583c65;
  }

  .btnlog:hover {
    background-color: #eec24f;
    color: black;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    background-color: rgb(229, 229, 229);
  }
.bg{
  background-color: none;
  background: none;
}


  .bgSecond {
    background-color: #583c65;
    width: auto;
  }

  .btnlog:hover {
    background-color: #eec24f;
    color: black;
  }
}
