<div class="masthead">
    <br><br><br>
    <div class="container">
        <div class="row">
            <h1 id="index-text">Welcome to FilmCorp</h1>
            <carousel [itemsPerSlide]="1" [singleSlideOffset]="true" [showIndicators]="false" [interval]="8000"
                [noPause]="true">
                <slide *ngFor="let carouselImg of carouselImg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="carousel text-center">
                                <img class="starterImg" [src]="carouselImg.img" style="object-fit: cover;">
                                <div class="card-body">
                                    <h5 id="bgNameCarousel" class="cardTitle">{{carouselImg.movieName}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="carousel text-center">
                                <div class="featured-text text-center">
                                    <h2>Genero</h2>
                                    <ul class="txt">
                                        <a>Terror</a>
                                    </ul>
                                </div>
                                    <div class="featured-text text-center">
                                        <h2>Genero</h2>
                                    </div>
                                    <hr>
                                    <div class="featured-text text-center">
                                        <h2>Director</h2>
                                    </div>
                                    <hr>
                                    <div class="featured-text text-center">
                                        <h2>Guíon</h2>
                                        <div class="txt">
                    
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="featured-text text-center">
                                        <h2>Reparto</h2>
                                        <p class="txt">Michael B. Jordan, Jonathan Majors</p>
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>