/* CSS DEL CAROUSEL */
.container {
  position: relative;
}

.imgCarousel {
  width:200px;
  height: 300px;
}


.carousel-item {
  margin-bottom: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}


#padrino {
  width: 30em;
  height: auto;
}

.carousel-container {
  width: 1800px;
  height: 400px;
  
}
#boton {
  background-color: rgb(153, 112, 170);
  color: white;
  width: 7em;
  border: none;
}

#lista {
  display: flow;
  margin-top: 2em;
}

#boton2 {
  background-color: rgb(153, 112, 170);
  margin-left: 2em;
  border: none;
}

#botonfans {
  background-color: rgb(153, 112, 170);
  border: none;
  margin-left: 1em;
  margin-top: 8.5em;
}

#video {
  margin-bottom: 2em;
}

.caja img {
  width: 220px;
  height: 310px;
}

@media (max-width: 700px) {
  .caja img {
    width: 100px;
    height: 150px;
  }
}

#letras {
  color: aliceblue;
}

.masthead {
  padding: 3.5rem 0;
}

#trailer,
#textTrailer,
#index-text {
  padding: 1rem 0;
}

#index-text {
  font-family: monospace;
  font-size: 35px;
}

#index-subtext {
  font-family: monospace;
  font-size: 33px;
  padding: 2rem 0;
}

#index-sub {
  font-size: 25px;
}

@media (max-width: 576px) {
  .welcome {
    text-align: center;
  }

  #dest{
    height: 21em;
    width: auto;
  }

  .destacadas {
    text-align: center;
  }

  .masthead {
    padding: 1rem 0;
  }
}

.img-responsive {
  width: 100%;
  height: 80%;
}

body {
  background-color: rgb(229, 229, 229);
}