.container1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .caja{
   margin: 15px;
  }
  #boton{
    display: block;
    background-color: rgb(153, 112, 170);
    color: white;
    width: 10em;
    border: none;
 
  }
  .caja img{
    width: 220px;
    height: 310px;
  } 
#letras{
    color: aliceblue;
}
.masthead{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 7rem 0;
  background-color: rgb(229, 229, 229);
}
#trailer, #textTrailer, #index-text{
  padding: 1rem 0;
}
#index-text{
  font-family: monospace;
  font-size: 35px;
}
#index-subtext{
  font-family: monospace;
  font-size: 33px;
  padding: 2rem 0;
}
#index-sub{
  font-size: 25px;
}