<div class="masthead">
    <br><br><br>
    <div class="container">
        <div class="row">
            <h1 id="index-text">Welcome to FilmCorp</h1>
            <carousel [itemsPerSlide]="1" [singleSlideOffset]="true" [showIndicators]="false" [interval]="8000"
                [noPause]="true" >
                <slide *ngFor="let movie of movies" class="carousel-slide">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="carousel text-center">
                                <p *ngFor="let poster of movie.poster">
                                    <img class="starterImg" src="{{poster.url}}" style="object-fit: cover;">
                                </p>
                                <div class="card-body">
                                    <h5 id="bgNameCarousel" class="cardTitle">{{movie.movieName}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" style="background-color: rgb(88, 60, 101); font-family: monospace; color: white; ">
                            <div class="carousel text-center">
                                <div class="featured-text text-center" >
                                    <h2>Genre</h2>
                                    <p *ngFor="let genre of movie.genre">{{genre.genre}}</p>
                                </div>
                                <hr>
                                <div class="featured-text text-center" >
                                    <h2>Director</h2>
                                    <p *ngFor="let director of movie.director">{{director.name}} {{director.lastName}}</p>
                                </div>
                                <hr>
                                <div class="featured-text text-center">
                                    <h2>Sinopsis</h2>
                                    <p>{{movie.plot}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>