<div class="masthead">
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="index-text">Welcome to FilmCorp</h1>
            </div>
            <carousel [itemsPerSlide]="1" [singleSlideOffset]="true" [showIndicators]="false" [interval]="8000"
                [noPause]="true">
                <slide *ngFor="let movie of movies" class="carousel-slide"[routerLink]="['film-view',movie.id]">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="carousel text-center">
                                <p *ngFor="let poster of movie.poster">
                                    <img class="starterImg" src="{{poster.url}}" style="object-fit: cover;">
                                </p>
                                <div class="card-body">
                                    <h5 id="bgNameCarousel" class="cardTitle">{{movie.movieName}}</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6"
                            style="background-color: rgb(88, 60, 101); font-family: monospace; color: white; ">
                            <div class="carousel text-center">
                                <div class="featured-text text-center">

                                    <h2>Genre</h2>
                                    <p *ngFor="let genre of movie.genre">{{genre.genre}}</p>
                                </div>
                                <hr>
                                <div class="featured-text text-center" >
                                    <h2>Director</h2>
                                    <p *ngFor="let director of movie.director">{{director.name}} {{director.lastName}}</p>
                                </div>
                                <hr>
                                <div class="featured-text text-center">
                                    <h2>Sinopsis</h2>
                                    <p>{{movie.plot}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
            </carousel>


            <h1 id="subtitleFreatured">Featured</h1>
            <div class="d-flex justify-content-center row">
                <div class="col-md-4" *ngFor="let movie of displayedMovies; let i = index">
                    <div class="card mb-3" style="max-width: 540px;" *ngIf="i < 3 || showAllMovies">
                        <div class="row g-0">
                            <div class="col-md-4">

                                <img src="{{movie.poster[0].url}}" class="img-fluid rounded-start" alt="...">

                            </div>
                            <div id="bgCard" class="col-md-8">
                                <div class="card-body">
                                    <h5 id="colorLetterCard" class="card-title">{{movie.movieName}}</h5>
                                    <span *ngFor="let director of movie.director" id="colorLetterCard" class="card-text">{{director.name}} {{director.lastName}}</span>
                                    <br>
                                    <span *ngFor="let genre of movie.genre" id="colorLetterCard" class="card-text">{{genre.genre}} </span>
                                    <br>
                                    <button class="cardInfoButton" [routerLink]="['film-view',movie.id]">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="buttonFeatured" *ngIf="showLoadMoreButton" (click)="loadMore()">Show more</button>
            <button class="buttonFeatured" *ngIf="showLoadLessButton" (click)="loadLess()">Show less</button>
        </div>
    </div>

    <div id="rest">
        <div class="container">
            <h2 id="index-textSlice">The most popular</h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="carousel text-center">
                    <carousel [itemsPerSlide]="1" [interval]="5000" [noWrap]="false" [showIndicators]="false">
                        <slide *ngFor="let movie of movies">

                            <img class="imgCarousel"  src="{{movie.poster[0].url}}">
                            <div class="card-body">
                                <h5 class="card-title" style="color: aliceblue">{{movie.movieName}}</h5>

                                <button id="buttonCarousel" class="btn mb-3">MORE</button>
                            </div>
                        </slide>
                    </carousel>
                    <ng-template #customPrevArrow>
                        <button class="btn btn-primary carousel-control-prev">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                    </ng-template>

                    <ng-template #customNextArrow>
                        <button class="btn btn-primary carousel-control-next">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <h2 id="index-textSlice" style="color:black;">Recomended</h2><br>
    <div class="card-container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-xs-12 trailer-container2" style="display: flex; justify-content: center;"> 
                <img class="img-responsive" style="display:block; margin-left: auto; margin-right: auto;" src="{{movieRecommended.poster[0].url}}"> 
            </div>
            <div class="col-lg-5 col-md-8 col-xs-12">
                <h2 class="title">{{movieRecommended.movieName}}</h2>
                <p class="subtitle">Plot</p>
                <p class="plot">{{movieRecommended.plot}}</p>
            </div>
            <div class="trailer-container col-lg-5 col-md-12 col-xs-12 " style="margin: auto; display: block;">
                <div class="col-lg-12 d-lg-block d-md-none d-none">
                <div class="ratio ratio-16x9"> 
                    <youtube-player class="embed-responsive-item" videoId="{{movieRecommended.trailer}}" allowfullscreen></youtube-player> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
                </div>
            </div>
        </div>

    </div>

    <div class="button-container">
        <button class="container buttonFeatured w-100">More</button>
    </div>
    <div class="container-fluid">
        <div class="row bg-purple text-white justify-content-center" style="background-color: rgb(88, 60, 101)">
            <h2 class="col-12 text-center">The most Interesting</h2>
            <div class="col-md-4 col-lg-8 col-sm-4 col-6">
                <div class="slider">
                    <div class="slide-track">
                        <div class="slide" *ngFor="let movie of movies">
                                <img class="imgCarousel" [src]="movie.poster" [alt]="movie.poster">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: aliceblue">{{movie.movieName}}</h5>
                                    <button id="buttonCarousel" class="btn mb-3">MORE</button>
                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container" style="background-color: rgba(153, 112, 170, 0.692);">
            <h1 class="text-center">Highest-grossing films</h1>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 text-center" style="color: rgb(13, 13, 14)">
                    <p>1. Ant-Man & Wasp <button type="button" class="btn btn-secondary">Más</button></p>
                    <p>2. Babylon <button type="button" class="btn btn-secondary">Más</button></p>
                    <p>3. Avatar: The way of water <button type="button" class="btn btn-secondary">Más</button></p>
                </div>
                <div class="col-6 text-center" style="color: rgb(13, 13, 14)">
                    <p>4. Jurassic World <button type="button" class="btn btn-secondary">Más</button></p>
                    <p>5. Transformers <button type="button" class="btn btn-secondary">Más</button></p>
                    <p>6. Cocaine Bear <button type="button" class="btn btn-secondary">Más</button></p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row " style="background-color: rgb(88, 60, 101); justify-content: center">
                <h2 style="color: aliceblue">Last news</h2> <br /> <br />
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 ">
                    <div class="card mb-3" style="background-color: transparent; border: none">
                        <div class="row g-0">
                            <div class="col-md-4"> <img src="../../../assets/img/bear.jpg"
                                    class="img-fluid rounded-start" alt="..." /> </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: aliceblue">Cocain Bear</h5>
                                    <p class="card-text" style="color: aliceblue">Se confirma que Cocain Bear es una
                                        historia
                                        basada en hechos reales</p> <button type="button"
                                        class="btn btn-secondary">Más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="card mb-3" style="background-color: transparent; border: none">
                        <div class="row g-0">
                            <div class="col-md-4"> <img src="../../../assets/img/gato.jpg"
                                    class="img-fluid rounded-start" alt="..." /> </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: aliceblue">El gato con botas</h5>
                                    <p class="card-text" style="color: aliceblue">El gato con botas ya no sera doblado
                                        por
                                        Antonio Banderas en ninguna de sus versiones.</p> <button type="button"
                                        class="btn btn-secondary mb-3">Más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="card mb-3" style="background-color: transparent; border: none">
                        <div class="row g-0">
                            <div class="col-md-4"> <img src="../../../assets/img/pulp.jpg"
                                    class="img-fluid rounded-start" alt="..." /> </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: aliceblue">Pulp Fiction</h5>
                                    <p class="card-text" style="color: aliceblue">El esperado remake se confirma, además
                                        de
                                        darnos la lista de los nuevos protagonistas.</p> <button type="button"
                                        class="btn btn-secondary mb-3">Más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

