/* CSS DEL CAROUSEL */
.container {
  position: relative;
}

h2,
h1 {
  font-family: monospace;
  padding: 20px;
}

.imgCarousel {
  width: 100%;
  height: auto;
}

.starterImg {
  width: 50%;
  height: auto;
}

.carousel-item {
  margin-bottom: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.carousel-container {
  width: 1800px;
  height: 400px;
}

.carousel-wrapper {
  position: relative;
}

.cardTitle {
  font-size: 30px;
  color: black;
  font-family: monospace;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

/*CSS COLORES & WALLPAPERS*/
#bgCard {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.80015756302521) 0%, rgba(88, 60, 101, 1) 4%, rgba(88, 60, 101, 0.8029586834733894) 61%, rgba(210, 210, 210, 1) 100%);
  border-radius: 1px;
  border: 1px solid black;
}

#bgNameCarousel {
  background-color: #eec14f94;
  border: 1px solid black;
  margin-top: 10px;
}

.bgSecondSlice {
  background-color: rgb(153, 112, 170);
}

.cardInfoButton {
  background-color: rgb(153, 112, 170);
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.cardInfoButton:hover {
  background-color: #EEC24F;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
}

#colorLetterCard {
  color: white;
}

#subtitleFreatured {
  font-family: monospace;
}

.options {
  padding-top: 7em;
}

#index-text {
  color: white;
}

#index-textSlice {
  color: white;
  margin: 10px;
  font-family: monospace;
  text-align: center;
}

.masthead {
  padding: 1.5rem 0;
  background: linear-gradient(0deg, rgba(210, 210, 210, 1) 45%, rgba(88, 60, 101, 1) 93%);
  margin-top: 3em;
}

#rest {
  background-color: #583C65;
}

.buttonFeatured {
  background-color: rgb(153, 112, 170);
  color: white;
  margin-bottom: 3em;
  border-radius: 10px;
  font-size: 20px;
  font-family: monospace;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
}

.buttonFeatured:hover {
  background-color: #EEC24F;
  color: black;
  margin-bottom: 3em;
  border-radius: 10px;
}

.card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-container {
  width: 1800px;
  height: 400px;
}

.carousel-wrapper {
  position: relative;
}

.cardTitle {
  font-size: 30px;
  color: black;
  font-family: monospace;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

/*CSS COLORES & WALLPAPERS*/
#bgCard {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.80015756302521) 0%, rgba(88, 60, 101, 1) 4%, rgba(88, 60, 101, 0.8029586834733894) 61%, rgba(210, 210, 210, 1) 100%);
  border-radius: 1px;
  border: 1px solid black;
}

#bgNameCarousel {
  background-color: #eec14f94;
  border: 1px solid black;
  margin-top: 10px;
}

.bgSecondSlice {
  background-color: rgb(153, 112, 170);
}

.cardInfoButton {
  background-color: rgb(153, 112, 170);
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.cardInfoButton:hover {
  background-color: #EEC24F;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
}

#colorLetterCard {
  color: white;
}

#subtitleFreatured {
  font-family: monospace;
}

.options {
  padding-top: 7em;
}

#index-text {
  color: white;
}

#index-textSlice {
  color: white;
  margin: 10px;
  font-family: monospace;
  text-align: center;
}

.masthead {
  padding: 1.5rem 0;
  background: linear-gradient(0deg, rgba(210, 210, 210, 1) 45%, rgba(88, 60, 101, 1) 93%);
}

#rest {
  background-color: #583C65;
}

.buttonFeatured {
  background-color: rgb(153, 112, 170);
  color: white;
  margin-bottom: 3em;
  border-radius: 10px;
  font-size: 20px;
  font-family: monospace;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
}

.buttonFeatured:hover {
  background-color: #EEC24F;
  color: black;
  margin-bottom: 3em;
  border-radius: 10px;
}

.card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}


#padrino {
  width: 30em;
  height: auto;
}


#buttonCarousel {
  margin: 4px;
  background-color: rgb(153, 112, 170);
  color: white;
  width: 7em;
  border: none;
  transition: all 0.3s ease-in-out;
}

#buttonCarousel:hover {
  margin: 4px;
  background-color: #EEC24F;
  color: rgb(0, 0, 0);
  width: 7em;
  border: none;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;

}

#lista {
  display: flow;
  margin-top: 2em;
}

#boton2 {
  background-color: rgb(153, 112, 170);
  margin-left: 2em;
  border: none;
}

#botonfans {
  background-color: rgb(153, 112, 170);
  border: none;
  margin-left: 1em;
  margin-top: 8.5em;
}

#video {
  margin-bottom: 2em;
}

.caja img {
  width: 220px;
  height: 310px;
}

@media (max-width: 700px) {
  .caja img {
    width: 100px;
    height: 150px;
  }
}

#letras {
  color: aliceblue;
}



#trailer,
#textTrailer,
#index-text {
  padding: 1rem 0;
}

#index-text {
  font-family: monospace;
  font-size: 35px;
}

#index-subtext {
  font-family: monospace;
  font-size: 33px;
  padding: 2rem 0;
}

#index-sub {
  font-size: 25px;
}

@media (max-width: 576px) {
  .welcome {
    text-align: center;
  }

  #dest {
    height: 21em;
    width: auto;
  }

  .destacadas {
    text-align: center;
  }

  .masthead {
    padding: 1rem 0;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

.carousel-slide {
  animation-name: slide;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  cursor: pointer;
}


.carousel-slide {
  animation-name: slide;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(0%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}


/* CARD MID */
.card-container,
#cardMid {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card-container {
  width: 85%;
  height: auto;
  background-color: #d2d2d2;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0);
  display: flex;
  margin: auto;
  border-radius: 5px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}


.subtitle {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}


.plot {
  color: rgb(26, 24, 24);
  font-size: 16px;
  text-align: center;
}


@media (min-width: 992px) {
  .trailer-container {
    padding: 20px;
    border-radius: 5px;
  }

  .trailer-container2 {
    padding: 20px;
    border-radius: 5px;
  }
}

@media (max-width: 1401px) {

  .img-responsive {

    width: 100%;

    height: 65%;

  }

}

@media (max-width: 991px) {
  .trailer-container {
    background-color: none;
  }
}

@media (max-width: 767px) {
  .img-responsive {
    width: 30%;
    height: auto;
  }

  .trailer-container2 {
    background-color: none;
  }
}

@media (max-width: 320px) {
  .img-responsive {
    width: 60%;
    height: auto;
  }
}

.button-container {
  margin: auto;
  height: auto;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 10px;

}


/* CAROUSEL INFINITO */

body {
  align-items: center;
  background: #ffff;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 66));
    transform: translateX(calc(-250px * 66));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 2200));
    transform: translateX(calc(-250px * 36));
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none !important;
}

.slide {
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

.slide:hover {
  transform: scale(1.0);
  transition: all 0.3s ease-in-out;
}

.bgSlider {
  background-color: rgb(88, 60, 101);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 6px 20px rgb(88, 60, 101);
}

.bgSlider:hover {
  transform: scale(1.0);
  transition: all 0.3s ease-in-out;
  background-color: #333;
  box-shadow: 0px 6px 20px rgb(0, 0, 0);
}

.slider {

  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
  height: 25em;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 95%;
  transition: all 0.3s ease-in-out;
}

.slider:hover {

  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
  height: 25em;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 95%;
  transition: all 0.3s ease-in-out;

}

.slider::before,
.slider::after {

  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 36s linear infinite;
  animation: scroll 160s linear infinite;
  display: flex;
  width: calc(250px * 36);
}

.infiniteCarousel {
  height: 20em;
  margin-right: 10em;
}

/*SCROLLBAR CSS*/
.element-without-scrollbar {
  overflow: hidden;
}

.scrollable-content::-webkit-scrollbar {
  width: 7px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: violet;
}