<h1>Welcome to FilmCorp</h1>
<div class="row">
    <div class="col-lg-8 align-items-center">
        <div style="margin-left: 5em;">
            <video src="../../../assets/videos/trailer.mp4" width="80%" height="auto"></video>

            <h3>Jhon Wick 4</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis maxime suscipit, dolores quo fugit
                facilis necessitatibus harum esse voluptate sed repellat sit dignissimos ex inventore molestiae sapiente
                fuga cum tempora?</p>
        </div>
    </div>
    <div class="col-lg-4">
        <h2>DESTACADAS</h2>
        <div class="card mb-3" style="max-width: 450px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/imganes/bear.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Cocain Bear</h5>
                        <p class="card-text">Un extraño grupo de policías, delincuentes, turistas y adolescentes se
                            reúnen en un bosque de Georgia cuando un oso negro de 150 kilos ingiere una gran cantidad de
                            cocaína y crea el caos impulsado por las drogas. </p>
                        <button type="button" class="btn btn-secondary">Más</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-3" style="max-width: 450px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/imganes/gato" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">El gato con botas</h5>
                        <p class="card-text">La épica historia de la estrella felina más graciosa del cine, el Gato con
                            Botas. </p>
                        <button type="button" class="btn btn-secondary">Más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
        <div class="container" style="background-color:blueviolet;">
            <h3>The most Popular</h3>
            <div class="card" style="width: 12rem;">
                <img src="../../../assets/imganes/gato" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">El gato con botas: el último deseo</h5>
                    <p class="card-text">Joel Crawford</p>
                    <a href="#" class="btn btn-primary">Información</a>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img src="../../../assets/imganes/gato" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">El gato con botas: el último deseo</h5>
                    <p class="card-text">Joel Crawford</p>
                    <a href="#" class="btn btn-primary">Información</a>
                </div>
            </div>
        </div>
   
</div>