 * {
     cursor: url(https://cur.cursors-4u.net/movie/mov-1/mov2.cur), auto !important;
 }

 body::-webkit-scrollbar {
     width: 12px;
     /* width of the entire scrollbar */
 }

 body::-webkit-scrollbar-track {
     background: orange;
     /* color of the tracking area */
 }

 body::-webkit-scrollbar-thumb {
     background-color: blue;
     /* color of the scroll thumb */
     border-radius: 20px;
     /* roundness of the scroll thumb */
     border: 3px solid orange;
     /* creates padding around scroll thumb */
 }

 body {
    height: 100vh;
}

.height {
    height: 100%;
}

.container-fluid {
    padding-top: 10em;
}