<body class="background">
    <br><br><br><br><br>
    <div class="container">
        <div class="row gx-5" style="color: white;">
            <div class="col-lg-12 col-md-12 col-sm-12 " style="margin-bottom: 20px;">
                <h1 class="title text-center">Condiciones del Servicio</h1>
                <div class="p-3" style="background-color: rgb(153, 112, 170); border: solid 1px black;">
                    <p>Estas Condiciones del Servicio ("Términos") son un acuerdo legal entre usted ("Usuario") y {{name}} ("nosotros", "nuestro" o "nos"). Al acceder o utilizar nuestro sitio web y servicios, el Usuario acepta estar sujeto a estos Términos y todas las leyes y regulaciones aplicables. Si el Usuario no está de acuerdo con estos Términos, no debe utilizar nuestro sitio web ni servicios.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Descripción de los servicios</h2>
                <div class="p-3 cards">
                    <p>Ofrecemos [descripción de los servicios] a través de nuestro sitio web. El Usuario es responsable de proporcionar todos los equipos necesarios para acceder y utilizar nuestro sitio web y servicios.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Aceptación de los términos</h2>
                <div class="p-3 cards">
                    <p>Al utilizar nuestro sitio web y servicios, el Usuario reconoce que ha leído y comprendido estos Términos y acepta estar sujeto a ellos. Si el Usuario no acepta estos Términos, no debe utilizar nuestro sitio web ni servicios.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Limitaciones de responsabilidad</h2>
                <div class="p-3 cards">
                    <p>No seremos responsables ante el Usuario o cualquier tercero por cualquier daño directo, indirecto, incidental, especial o consecuente que resulte del uso o la imposibilidad de usar nuestro sitio web o servicios.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Propiedad intelectual</h2>
                <div class="p-3 cards">
                    <p>Nuestro sitio web y servicios, incluyendo todo el contenido, información y materiales relacionados, son propiedad exclusiva de [nombre de la empresa] y están protegidos por las leyes de propiedad intelectual. El Usuario no tiene derecho a utilizar nuestra propiedad intelectual sin nuestro consentimiento previo y por escrito.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Indemnización</h2>
                <div class="p-3 cards">
                    <p>El Usuario acepta indemnizar, defender y eximir de responsabilidad a [nombre de la empresa], sus directores, empleados, agentes y representantes de cualquier reclamo, demanda, responsabilidad, daño, costo o gasto, incluyendo honorarios razonables de abogados, que surja del uso del sitio web o servicios por parte del Usuario o de cualquier violación de estos Términos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Terminación</h2>
                <div class="p-3 cards">
                    <p>Nos reservamos el derecho de terminar el acceso del Usuario a nuestro sitio web y servicios en cualquier momento y por cualquier motivo sin previo aviso.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Modificaciones de los términos</h2>
                <div class="p-3 cards">
                    <p>Nos reservamos el derecho de modificar estos Términos en cualquier momento. El Usuario deberá revisar periódicamente los Términos para estar al tanto de cualquier cambio. El uso continuado de nuestro sitio web y servicios después de cualquier modificación de los Términos se considerará como una aceptación de los nuevos Términos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Legislación aplicable</h2>
                <div class="p-3 cards">
                    <p>Estos Términos se regirán e interpretarán de acuerdo con las leyes del {{country}}. Cualquier disputa relacionada con estos Términos se resolverá exclusivamente en los tribunales del {{country}}.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
                <h2 class="title text-center">Contacto</h2>
                <div class="p-3 cards">
                    <p>Si tiene alguna pregunta sobre nuestros Términos, no dude en ponerse en contacto con nosotros.</p>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h5 style="color: black;">Última actualización: {{date}}</h5>
            </div>
        </div>
    </div>
    </body>