<div class="container-fluid fondo">
  <div class="row">
    <aside class="col-lg-2 col-md-2 col-12 offset-lg-1">
      <div class="btn-group-vertical d-none d-sm-none d-md-block">
        <h2 class="title">Filtros</h2>
        <button *ngFor="let genre of genres" class="btn button" [routerLink]="['../movies-by-genre',genre.id]">
          <div class="featured-text">{{genre.genre}}</div>
        </button>
      </div>
      <form class="form-inline" (ngSubmit)="searchMovie()">
        <input type="text" class="form-control" id="search" [(ngModel)]="search" name="search"
          [ngModelOptions]="{standalone: true}" placeholder="Introduzca su busqueda">
        <button class="btn search" type="submit">Search</button>
      </form>
    </aside>
    <main class="col-lg-8 col-md-10 col-sm-12 border-left">
      <h1 class="title">Top Films</h1>
      <section class="dark">
        <div class="container py-4">
          <article class="postcard" *ngFor="let movie of movies">
            <a class="postcard__img_link" [routerLink]="['../film-view',movie.id]">
              <img class="postcard__img" src="{{movie.poster[0].url}}" [routerLink]="['../film-view',movie.id]"
                alt="Image Title" />
            </a>
            <div class="postcard__text">
              <h1 class="postcard__title"><a class="postcard__title"
                  [routerLink]="['../film-view',movie.id]">{{movie.movieName}} </a></h1>
              <ul class="postcard__tagbox">
                <li class="tag__item" *ngFor="let director of movie.director"><i
                    [routerLink]="['../movies-by-director',director.id]" class="fas fa-tag mr-2">{{director.name}}
                    {{director.lastName}}</i></li>
              </ul>
              <ul class="postcard__tagbox">
                <li class="tag__item" *ngFor="let actor of movie.actors"><i
                    [routerLink]="['../movies-by-actor',actor.id]" class="fas fa-tag mr-2">{{actor.name}}
                    {{actor.lastName}}</i></li>
              </ul>
              <div class="postcard__preview-txt">{{movie.plot}}</div>
              <ul class="postcard__tagbox">
                <li class="tag__item" *ngFor="let genre of movie.genre"><i
                    [routerLink]="['../movies-by-genre',genre.id]" class="fas fa-tag mr-2">{{genre.genre}}</i></li>
              </ul>
              <h1 class="postcard__title"><a style="float: right;">{{movie.score}}<i class="fas fa-star"
                    style="color: yellow">&#9733;</i></a></h1>
            </div>
          </article>
        </div>
      </section>
    </main>
  </div>
</div>