<div class="container-fluid">
    <footer class="row py-3 my-5 border justify-content-center">
        <div class="d-flex flex-line align-items-center justify-content-center" style="flex-direction: row;">
            <img class="align-items-center" id="logoFooter" src="../../../assets/img/logoSin.png" alt="" width="75px">
            <h3 class="mb-0 ms-3">PelisCorp</h3>
        </div>
        <hr>

        <div class="col-md-4 text-center">
            <div class="d-flex flex-column align-items-center">

                <ul class="list-inline mt-4">

                    <li class="list-inline-item">
                        <a href="#">
                            <img src="../../../assets/img/logoTwiter.png" alt="Twitter" width="45pm">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img src="../../../assets/img/logoInst.png" alt="Instagram" width="45pm">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img src="../../../assets/img/logoGma.png" alt="Google" width="45pm">
                        </a>
                    </li>
                </ul>
            </div>
            <span id="year" class="text-muted">&copy;  {{this.date}} PelisCorp, SA</span>
        </div>
    </footer>
</div>

