

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border">
            <img class="align-items-centerf" id="logoFooter" src="../../../assets/imganes/logo.png" alt="">
            <div class="col-md-4 d-flex align-items-center">
              
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2023 PelisCorp, SA</span>
            </div>
            
            <ul>
                <a href="#"><i id="iconFooter" class="bi bi-twitter"></i></a>
                <a href="#"><i id="iconFooter" class="bi bi-instagram"></i></a>
                <a href="#"><i id="iconFooter" class="bi bi-facebook"></i></a>
            </ul>
           
        </footer>
    </div>
    