<div class="container-fluid">
    <footer class="row py-3 my-5 border-top justify-content-between">
      <div class="col-md-4">
        <img src="../../../assets/img/logo.png" id="logoFooter">
      </div>
      <div class="col-md-4 text-center">
        <span class="text-muted">&copy; 2023 PelisCorp, SA</span>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">
              <img src="../../../assets/img/logoTwiter.png" alt="Twitter" width="45pm">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img src="../../../assets/img/iconoInst.jpg" alt="Instagram" width="45pm">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <img src="../../../assets/img/logoGma.png" alt="Google" width="45pm">
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
  