
.bg{
    background: linear-gradient(0deg, rgba(210, 210, 210, 1) 45%, rgba(88, 60, 101, 1) 93%);
}
#favourites{
    padding: 20px;

}
#caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #img-midium {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #bgCard{
    background: linear-gradient(90deg, rgba(0,0,0,0.80015756302521) 0%, rgba(88,60,101,1) 4%, rgba(88,60,101,0.8029586834733894) 61%, rgba(210,210,210,1) 100%);
    border-radius: 1px;
    border: 1px solid black;
  }
  .cardInfoButton{
    background-color: rgb(153, 112, 170);
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
  }
  .cardInfoButton:hover{
    background-color: #EEC24F;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
  }
  #colorLetterCard{
    color: white;
  }
  .buttonFeatured{
    background-color: rgb(153, 112, 170);
    color: white;
    margin-bottom: 1em;
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
  }
  .buttonFeatured:hover {
    background-color: #EEC24F;
    color: black;
    margin-bottom: 1em;
    border-radius: 10px;
  }
  
  
  
  .rectangulo {
    height: auto;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(161, 127, 175), rgba(236, 225, 191, 0.158));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 5em;
    border: 1px solid black;
    border-radius: 40px 0 40px 0;
  }
  
  .boton {
    margin: 20px;
    background-color: #eec14f94;
    color: #000;
    margin-bottom: 3em;
    padding-inline: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
  }
  
  .boton:hover {
    background-color: rgb(153, 112, 170);
    color: #fff;
  }
  
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
  }
  
  
  * {
    font-family: monospace;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
  }
  
  .seccion-perfil-usuario .perfil-usuario-body,
  .seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  .seccion-perfil-usuario .perfil-usuario-header {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
  }
  
  .seccion-perfil-usuario .perfil-usuario-portada  {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, rgb(153, 112, 170), #eec14f94);
    border-radius: 0 0 20px 20px;
    border: 1px solid black;
  }

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
  }
  
  .seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
  }
  
  .seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
  }
  
  .seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
  }
  
  .seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
  }
  
  .seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
  }
  
  .seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
  }
  
  .seccion-perfil-usuario .perfil-usuario-footer,
  .seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
  }
  
  .seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
  }
  
  .seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
  }
  
  .seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
  }
  
  .seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
  }
  
  .seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
  }
  
  .seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
  }
  
  .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
  }
  
  .seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
  }
  
  .seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
  }
  
  .seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
  }