<div class="bg">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="../../../assets/img/perfil.jpg" alt="img-avatar">
                    <button type="button" class="boton-avatar">
                        <img src="../../assets/img/pencil.svg" style="width: 25px;">
                    </button>
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Usuario</h3>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12 col-md-4 col-sm-12 col-9">
            
                <button (click)="cambiarContenido('boton1')" class="boton">
                  Favourites
                </button>
                <button (click)="cambiarContenido('boton2')" class="boton">
                  Recomended
                </button>
                <button (click)="cambiarContenido('boton3')" class="boton">
                  Your reviews
                </button>
              </div>              
        </div>

        <div class="row container result text-center" *ngIf="contenidoActual === 'boton1'">
            <div class="rectangulo">
                <h2 id="favourites">Favourites<b><i class="fas fa-star" style="color: yellow" >&#9733;</i></b>
                </h2>
                <div id="card-films" class="d-flex align-items-center justify-content-center">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-4" *ngFor="let movie of displayedMovies; let i = index">
                            <div class="card mb-3" style="max-width: 540px;" *ngIf="i < 3 || showAllMovies">
                                <div class="row g-0">
                                    <div class="col-md-4 col-5" style="background: linear-gradient(90deg, rgba(0,0,0,0.80015756302521) 0%, rgba(88,60,101,1) 4%, rgba(88,60,101,0.8029586834733894) 61%, rgba(210,210,210,1) 100%);">
                                        <img id="img-midium" src="{{movie.poster[0].url}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div id="bgCard" class="col-md-8 col-7">
                                        <div class="card-body">
                                            <h5 id="colorLetterCard" class="card-title">{{movie.movieName}}</h5>
                                            <span *ngFor="let director of movie.director" id="colorLetterCard"
                                                class="card-text">{{director.name}} {{director.lastName}}</span>
                                            <br>
                                            <span *ngFor="let genre of movie.genre" id="colorLetterCard"
                                                class="card-text">{{genre.genre}} </span>
                                            <br>
                                            <button class="cardInfoButton"
                                                [routerLink]="['film-view',movie.id]">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <button class="buttonFeatured w-100" *ngIf="showLoadMoreButton" (click)="loadMore()">Show more</button>
                <button class="buttonFeatured w-100" *ngIf="showLoadLessButton" (click)="loadLess()">Show less</button>
            </div>
        </div>


        <div class="row container result text-center" *ngIf="contenidoActual === 'boton2'">
            <div class="rectangulo">
                <h2 id="favourites">
                    Recomended<b><i class="fas fa-star" style="color: yellow">&#9733;</i></b>
                </h2>
                <div id="card-films" class="d-flex align-items-center justify-content-center">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-4" *ngFor="let movie of displayedMovies; let i = index">
                            <div class="card mb-3" style="max-width: 540px;" *ngIf="i < 3 || showAllMovies">
                                <div class="row g-0">
                                    <div class="col-md-4 col-5" style="background: linear-gradient(90deg, rgba(0,0,0,0.80015756302521) 0%, rgba(88,60,101,1) 4%, rgba(88,60,101,0.8029586834733894) 61%, rgba(210,210,210,1) 100%);">
                                        <img id="img-midium" src="{{movie.poster[0].url}}" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div id="bgCard" class="col-md-8 col-7">
                                        <div class="card-body">
                                            <h5 id="colorLetterCard" class="card-title">{{movie.movieName}}</h5>
                                            <span *ngFor="let director of movie.director" id="colorLetterCard"
                                                class="card-text">{{director.name}} {{director.lastName}}</span>
                                            <br>
                                            <span *ngFor="let genre of movie.genre" id="colorLetterCard"
                                                class="card-text">{{genre.genre}} </span>
                                            <br>
                                            <button class="cardInfoButton"
                                                [routerLink]="['film-view',movie.id]">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <button class="buttonFeatured w-100" *ngIf="showLoadMoreButton" (click)="loadMore()">Show more</button>
                <button class="buttonFeatured w-100" *ngIf="showLoadLessButton" (click)="loadLess()">Show less</button>
            </div>
        </div>


        <div class="row result text-center" *ngIf="contenidoActual === 'boton3'">
            <div class="rectangulo">
                <h2 id="reviews">
                    Your reviews<br>
                     Hacer llamada a reviews del usuario<b><i class="fas fa-star" style="color: yellow">&#9733;</i></b>
                </h2>
                <div id="caja" class="d-flex align-items-center justify-content-center"></div>
            </div>
        </div>
    </section>
</div>