<div style="padding-top: 7em; " class="fondo">
<div class="container" style="border: 1px solid rgba(88, 60, 101, 1);">
    <br>
    <h2 style="text-align: center; margin-bottom: 30px; color: rgba(88, 60, 101, 1);">UPDATE ACTOR</h2>
    <form [formGroup]="MyNewForm" (ngSubmit)="onUpdateActor()">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="id">Id</label>
                <input type="number" class="form-control" id="id" placeholder="Id" formControlName="id"
                [(ngModel)]="actor.id" [disabled]="true">
                <div *ngIf="MyNewForm.get('id')?.invalid" class="alert alert-danger mt-2">El campo ID es
                    obligatorio
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name" [(ngModel)]="actor.name"
                    formControlName="name" required>
                <div *ngIf="MyNewForm.get('name')?.invalid" class="alert alert-danger mt-2">El campo
                    NAME es obligatorio</div>
            </div>
            <div class="form-group col-md-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="lastName"
                    formControlName="lastName" [(ngModel)]="actor.lastName" required>
                <div *ngIf="MyNewForm.get('lastName')?.invalid" class="alert alert-danger mt-2">El campo LAST NAME
                    es
                    obligatorio</div>
            </div>
            <div class="form-group col-md-4">
                <label for="photo">Photo</label>
                <input type="text" class="form-control" id="photo" placeholder="photo"
                    formControlName="photo" [(ngModel)]="actor.photo" required>
                <div *ngIf="MyNewForm.get('photo')?.invalid" class="alert alert-danger mt-2">El campo PHOTO
                    es
                    obligatorio</div>
            </div>
            <div class="form-group col-md-6">
                <label for="biography">Biography</label>
                <input type="text" class="form-control" id="biography" placeholder="biography" formControlName="biography" [(ngModel)]="actor.biography" required>
                <div *ngIf="MyNewForm.get('biography')?.invalid" class="alert alert-danger mt-2">The BIOGRAPHY field is required</div>
            </div>
            <div class="form-group col-md-3">
                <label for="birthPlace">BirthPlace</label>
                <input type="text" class="form-control" id="birthPlace" placeholder="birthPlace" formControlName="birthPlace" [(ngModel)]="actor.birthPlace" required>
                <div *ngIf="MyNewForm.get('birthPlace')?.invalid" class="alert alert-danger mt-2">The BIRTHPLACE field is required</div>
            </div>
            <div class="form-group col-md-3">
                <label for="birthDate">BirthDate</label>
                <input type="text" class="form-control" id="birthDate" placeholder="birthDate" formControlName="birthDate" [(ngModel)]="actor.birthDate" required>
                <div *ngIf="MyNewForm.get('birthDate')?.invalid" class="alert alert-danger mt-2">The BIRTHDATE field is required</div>
            </div>
            <div style="text-align: center; margin-bottom: 20px;">
                <button type="submit" class="btnprincipal mt-3" [disabled]="MyNewForm.invalid">UPDATE</button>
            </div>
        </div>
    </form>
</div>
<br>
</div>