
h1{
	background-color: rgb(229, 229, 229);
}

.bg{

	background:url(../../../assets/img/wallpaper_def.png);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bgSecond{
    background-color: #583C65;
}

.btnlog:hover{
	background-color: #EEC24F;
    color: black;
}

