
h1{
	background-color: rgb(229, 229, 229);
}

#body-structure{
	background-image: url(/src/assets/img/wallpaperLogin.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
#registerBlock{
    background-color: #583C65;
    width: 400px;
	height: 450px;
	overflow: hidden;
    border: 2px solid white;
}

