<!-- <body class="bg ">
  <div
    class="bgSecond"
  >
    <div id="arriba">
      <img
        src="../../../assets/img/perfil.jpg"
        id="imgPerfil"

      />
      <div class="d-flex flex-column ms-4">
        <div
          id="letas"
          class="d-flex text-center align-items-center justify-content-center mb-5"
        >
          <div class="text-center text-white fs-1 fw-bold me-5">User
          <p id="letras" style="display: inline-block; color: aliceblue">
            <b> 0 follows</b>
          </p>
          <p
            id="letras"
            style="display: inline-block; margin-left: 0.5em; color: aliceblue"
          >
            <b>0 followers</b>
          </p>
        </div>
      </div>
        <div class="butonNav col-lg-12">
          <div class="d-flex">
            <button (click)="cambiarContenido('boton1')" class="boton">
              Favourites
            </button>
            <button (click)="cambiarContenido('boton2')" class="boton">
              Recomended
            </button>
            <button (click)="cambiarContenido('boton3')" class="boton">
              Your reviews
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row result text-center" *ngIf="contenidoActual === 'boton1'">
      <div class="rectangulo">
        <h2 id="favourites">
          Favourites<b
            ><i class="fas fa-star" style="color: yellow">&#9733;</i></b
          >
        </h2>
        <div id="caja" class="d-flex align-items-center justify-content-center">
          <div class="row text-white justify-content-center" *ngFor="let movie of movies.slice(0, 5)">

            <div
              id="contenedor"
              class="col-md-12 col-lg-12 col-sm-12 col-12"
              style="margin-left: 1em"
            >
              <img id="imagenes" class="" [src]="movie.poster[0].url" />
              <p style="margin-bottom: 0.5rem">{{ movie.movieName }}</p>
              <p style="margin-bottom: 0.5rem">Chris Miller</p>
              <button id="boton2" class="btn btn-primary mb-3" >
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row result text-center" *ngIf="contenidoActual === 'boton2'">
      <div class="rectangulo">
        <h2 id="favourites">
          Recomended<b><i class="fas fa-star" style="color: yellow">&#9733;</i></b>
        </h2>
        <div id="caja" class="d-flex align-items-center justify-content-center">
          <div class="row text-white justify-content-center" *ngFor="let movie of movies.slice(0, 5)">

            <div id="contenedor" class="col-md-12 col-lg-12 col-sm-12 col-12" style="margin-left: 1em">
              <img id="imagenes" class="" [src]="movie.poster[0].url" />
              <p style="margin-bottom: 0.5rem">{{ movie.movieName }}</p>
              <p style="margin-bottom: 0.5rem">Chris Miller</p>
              <button id="boton2" class="btn btn-primary mb-3" >Información</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row result text-center" *ngIf="contenidoActual === 'boton3'">
      <div class="rectangulo">
        <h2 id="reviews">
          Your reviews<b
            ><i class="fas fa-star" style="color: yellow">&#9733;</i></b
          >
        </h2>
        <div
          id="caja"
          class="d-flex align-items-center justify-content-center"
        ></div>
      </div>
    </div>
  </div>
</body> -->


<div class="bg">
  <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="../../../assets/img/perfil.jpg" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">Usuario</h3>
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-lg-12">
          <div class="d-flex justify-content-center flex-wrap">
            <button (click)="cambiarContenido('boton1')" class="boton">
              Favourites
            </button>
            <button (click)="cambiarContenido('boton2')" class="boton">
              Recomended
            </button>
            <button (click)="cambiarContenido('boton3')" class="boton">
              Your reviews
            </button>
          </div>
        </div>
      </div>


    <div class="row result text-center" *ngIf="contenidoActual === 'boton1'">
      <div class="rectangulo">
        <h2 id="favourites">
          Favourites<b><i class="fas fa-star" style="color: yellow">&#9733;</i></b>
        </h2>
        <div id="caja" class="d-flex align-items-center justify-content-center">
          <div class="row text-white justify-content-center" *ngFor="let movie of movies.slice(0, 5)">
  
            <div id="contenedor" class="col-md-12 col-lg-12 col-sm-12 col-12" style="margin-left: 1em">
              <img id="imagenes" class="img-fluid" [src]="movie.poster[0].url" />
              <p style="margin-bottom: 0.5rem">{{ movie.movieName }}</p>
              <p style="margin-bottom: 0.5rem">Chris Miller</p>
              <button id="boton2" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row result text-center" *ngIf="contenidoActual === 'boton2'">
      <div class="rectangulo">
        <h2 id="favourites">
          Recomended<b><i class="fas fa-star" style="color: yellow">&#9733;</i></b>
        </h2>
        <div id="caja" class="d-flex align-items-center justify-content-center">
          <div class="row text-white justify-content-center" *ngFor="let movie of movies.slice(0, 5)">
  
            <div id="contenedor" class="col-md-12 col-lg-12 col-sm-12 col-12" style="margin-left: 1em">
              <img id="imagenes" class="img-fluid" [src]="movie.poster[0].url" />
              <p style="margin-bottom: 0.5rem">{{ movie.movieName }}</p>
              <p style="margin-bottom: 0.5rem">Chris Miller</p>
              <button id="boton2" class="btn btn-primary mb-3">Información</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  

    <div class="row result text-center" *ngIf="contenidoActual === 'boton3'">
      <div class="rectangulo">
        <h2 id="reviews">
          Your reviews<b><i class="fas fa-star" style="color: yellow">&#9733;</i></b>
        </h2>
        <div id="caja" class="d-flex align-items-center justify-content-center"></div>
      </div>
    </div>
  </section>
</div>