/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Ocupa todo el espacio vertical disponible */
  background: url(../../../assets/img/wallpaper_def.png);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: left top, right top;
}

.bgSecond {
  background-color: rgb(153, 112, 170);
  color: white;
  padding: 5rem;
  text-align: center;
  min-height: 100%; /* Utiliza min-height en lugar de height */
  border-radius: none;
}

#arriba {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-top: 2.9em;
}

#imgPerfil {
  width: 150px;
  border-radius: 50%;
}

#letras {
  font-size: 2em;
}

.botonNav {
  margin-top: 2rem;
}

.boton {
  background-color: rgb(228, 197, 96);
  color: rgb(7, 7, 7);
  width: 16.7em;
  margin-left: 0.5em;
  border: solid;
  border-color: rgb(206, 179, 91);
  font-size: large;
}

.boton:hover {
  background-color: #e2673a65;
  cursor: pointer;
}

.rectangulo {
  height: auto;
  width: 100%;
  background-color: rgba(81, 40, 109, 0.452);
  clip-path: polygon(0% 0%, 80% 0%, 100% 30%, 100% 100%, 20% 100%, 0% 70%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 5em;
}

#caja {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#imagenes {
  width: 10em;
  height: auto;
  margin-bottom: 1em;
}

#boton2 {
  background-color: rgb(153, 112, 170);
  color: white;
  width: 7em;
  border: none;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  #imgPerfil {
    width: 7em;
    margin-left: 15em;
  }

  #letras {
    font-size: 1em;
  }

  .rectangulo {
    clip-path: none;
  }

  #caja {
    flex-direction: column;
  }

  #imagenes {
    width: 15em;
  }
}
@media only screen and (max-width: 480px) {
  #imgPerfil {
    width: 6em;

    flex-direction: column;
    justify-content: center;
  }

  #letras {
    font-size: 0.9em;
  }

  .rectangulo {
    width: 100%;
  }
#arriba{

  display: flex;
  flex-direction: column;
  justify-content: center;
}
  #caja {
    flex-direction: column;
  }
.boton{
  width: 100%;
    margin-bottom: 1em;
}
  #imagenes {
    width: 20em;
  }
}
