@media only screen and (min-width: 990px) {
  .bg {
    background: url(../../../assets/img/wallpaper_def.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bgSecond {
    background-color: rgb(153, 112, 170);
    height: 100%;
    width: 78rem;
    border-radius: none;
  }

  #arriba {
    margin-top: 5em;
  }

  #imgPerfil {
    border-radius: 50%;
    max-width: 150px;
    width: 100%;
  }

  #letras {
    font-size: 2em;
  }

  .boton {
    background-color: rgb(228, 197, 96);
    color: rgb(7, 7, 7);
    width: 12em;
    margin-left: 0.5em;
    border: solid;
    border-color: rgb(206, 179, 91);
    font-size: large;
  }

  .boton:hover {
    background-color: #e2673a65;
    cursor: pointer;
  }

  .rectangulo {
    height: 39em;
    width: 64em;
    background-color: rgba(81, 40, 109, 0.452);
    clip-path: polygon(0% 0%, 80% 0%, 100% 30%, 100% 100%, 20% 100%, 0% 70%);
  }

  #imagenes {
    margin-top: 1em;

    width: 100%;
  max-width: 10em;
  height: auto;
}

#boton2 {
  background-color: rgb(153, 112, 170);
  color: white;
  width: 7em;
  border: none;
}

.caja img {
  margin-top: 5em;
  width: 15em;
  height: 15em;
}

@media only screen and (max-width: 769px) {
  #imgPerfil {
    width: 7em;
  }
  #letras {
    font-size: 1em;
  }

  .bg {
    background-color: rgb(153, 112, 170);
  }

  #arriba {
    margin-top: -1em;
    margin-right: 5em;
  }

  .boton {
    width: 7em;
    font-size: medium;
  }

  .rectangulo {
    margin-top: 6px;
    margin-right: 5em;
    width: 40em;
    height: auto;
  }

  .bgSecond {
    background-color: rgb(153, 112, 170);
    border: none;
    height: 91%;
    margin-left: 5em;
    margin-top: 3em;
    width: 100%;
    max-width: 100em;
  }

  #imagenes {
    width: 4em;
    height: auto;
    margin-bottom: 2em;
    max-height: 200px;
  }

  .caja img {
    width: 40px;
    height: 1px;
  }
}

@media only screen and (max-width: 480px) {
  .bg {
    height: 9em;
  }

  #arriba {
    margin-left: 5em;
  }

  #contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boton {
    width: 8em;
    font-size: small;
  }

  .rectangulo {
    width: 100%;
    height: auto;
    margin-left: 2.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #imagenes {
    width: 3em;
  }

  .caja img {
    width: 1em;
    height: 1em;
  }
}
}
