<body class="bg d-flex justify-content-center align-items-center vh-100">
  <div
    class="bgSecond p-5 text-secondary shadow d-flex flex-column align-items-center justify-content-between"
    style="width: 78rem"
  >
    <div class="d-flex align-items-start">
      <img
        src="../../../assets/img/perfil.jpg"
        id="imgPerfil"
        width="150"
        height="auto"
      />
      <div class="d-flex flex-column ms-4">
        <div
          class="d-flex text-center align-items-center justify-content-center mb-5"
        >
          <div class="text-center text-white fs-1 fw-bold me-5">User</div>
          <h2 style="display: inline-block; color: aliceblue">
            <b> 0 follows</b>
          </h2>
          <h2
            style="display: inline-block; margin-left: 0.5em; color: aliceblue"
          >
            <b>0 followers</b>
          </h2>
        </div>
        <div>
          <button class="btn-primary">Follow</button>
        </div>
        <div class="butonNav col-lg-12">
          <div class="d-flex">
            <button (click)="cambiarContenido ('boton1')" class="boton">
              Favourites
            </button>
            <button (click)="cambiarContenido ('boton2')" class="boton">
              Recomended
            </button>
            <button (click)="cambiarContenido ('boton3')" class="boton">
              Your reviews
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row result text-center" *ngIf="contenidoActual === 'boton1'">
    <div class="rectangulo">
      <h2 style="color: aliceblue; margin-left: 85px; margin-top: 10px">
        Favourites<b
          ><i class="fas fa-star" style="color: yellow">&#9733;</i></b
        >
      </h2>
      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-12 col-sm-4 col-6 p-3">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Chris Miller</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-2 col-sm-4 col-6">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Chris Miller</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-2 col-sm-4 col-6">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Christopher Nolan</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-2 col-sm-4 col-6">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Chris Miller</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-2 col-sm-4 col-6">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Quentin Tarantino</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row result text-center" *ngIf="contenidoActual === 'boton2'">
    <div class="rectangulo">
      <h2 style="color: aliceblue; margin-left: 85px; margin-top: 10px">
        Recomends<b
          ><i class="fas fa-star" style="color: yellow">&#9733;</i></b
        >
      </h2>
      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-12 col-sm-4 col-6 p-3">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Chris Miller</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-2 col-sm-4 col-6">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Chris Miller</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-2 col-sm-4 col-6">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Christopher Nolan</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-2 col-sm-4 col-6">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Chris Miller</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="caja" class="d-flex align-items-center justify-content-center">
        <div
          class="row text-white justify-content-center"
          *ngFor="let item of movies"
        >
          <div class="col-md-4 col-lg-2 col-sm-4 col-6">
            <div class="caja zoom">
              <img id="imagenes" class="img-fluid" [src]="item.photo" />
              <p>{{ item.movieName }}</p>
              <p>Quentin Tarantino</p>
              <button id="boton" class="btn btn-primary mb-3">
                Información
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row result text-center" *ngIf="contenidoActual === 'boton3'">
    <div class="rectangulo">
      <h2 style="color: aliceblue; margin-left: 85px; margin-top: 10px">
        Your reviews<b
          ><i class="fas fa-star" style="color: yellow">&#9733;</i></b
        >
      </h2>
      <div id="caja" class="d-flex align-items-center justify-content-center">

      </div>
</div>

