@media only screen and (min-width: 990px) {
  .bg {
    background: url(../../../assets/img/wallpaper_def.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #letras{
    font-size: 2em;
  }
  #arriba {
    margin-top: 5em;
  }
  #favourites {
    color: aliceblue;
    margin-left: 85px;
    margin-top: 10px;
  }
  #recomends {
    color: aliceblue;
    margin-left: 85px;
    margin-top: 10px;
  }
  #reviews {
    color: aliceblue;
    margin-left: 85px;
    margin-top: 10px;
  }
  .bgSecond {
    background-color: rgb(153, 112, 170);
    height: 100%;
    border-radius: none;
    width: 78rem;
  }

  #imgPerfil {
    border-radius: 50%;
  }

  .boton {
    background-color: rgb(228, 197, 96);
    color: rgb(7, 7, 7);
    width: 12em;
    margin-left: 0.5em;
    border: solid;
    border-color: rgb(206, 179, 91);
    font-size: large;
    margin-top: -40px;
  }

  .boton:hover {
    background-color: #e2673a65;
    cursor: pointer;
  }

  .rectangulo {
    width: 65em;
    height: 37em;
    background-color: rgba(81, 40, 109, 0.452);
    clip-path: polygon(0% 0%, 80% 0%, 100% 30%, 100% 100%, 20% 100%, 0% 70%);
  }

  #imagenes {
    width: 10em;
    margin-top: 2em;
  }

  #boton2 {
    background-color: rgb(153, 112, 170);
    color: white;
    width: 7em;
    border: none;
  }

  .caja img {
    margin-top: 4em;
    width: 15em;
    height: 15em;
  }
}
/* Estilos para pantallas medianas */
@media only screen and (max-width: 769px) {
  #imgPerfil {
    border-radius: 50%;
    width: 7em;
  }
  #letras{
    font-size: 1em;
  }
  .bg {
    background-color: rgb(153, 112, 170);
    background: rgb(153, 112, 170);
  }

  #arriba {
    margin-top: -1em;
    margin-right: 5em;
  }
  #favourites {
    color: aliceblue;
  }
  #boton2 {
    background-color: rgb(153, 112, 170);
    color: white;
    width: 7em;
    border: none;
  }
  .rectangulo {
    margin-top: 6px;
    margin-right: 5em;
    width: 40em;
height: auto;
    background-color: rgba(81, 40, 109, 0.452);
    clip-path: polygon(0% 0%, 80% 0%, 100% 30%, 100% 100%, 20% 100%, 0% 70%);
  }
  .bgSecond {
    background-color: rgb(153, 112, 170);
    border: none;
    height: 91%;
    margin-left: 5em;
    margin-top: 3em;
    width: 100em;
  }

  .boton {
    width: 7em;
    size: 1px;
    margin-left: 0.2em;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rectangulo {
    width: 45em;
    height: 100%;
    clip-path: none;
  }

  #imagenes {
    margin-top: none;
    width: 4em;
    height: auto;
    margin-bottom: 2em;
    max-height: 200px;

  }

  .caja img {
    width: 40px;
    height: 1px;

  }
}

@media only screen and (max-width: 480px) {
  .bg {
    height: 9em;

  }
  #arriba {

    margin-left: 5em;
  }
  #contenedor{

    display: flex-column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boton {
    width: 8em;
    margin-left: 0.2em;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rectangulo {
    width: 100%;
    height: auto;
    clip-path: none;
    margin-left: 2.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #imagenes {
    width: 3em;
    display: block;
  }

  .caja img {
    width: 1em;
    height: 1em;
    display: block;
  }
}
